h1 {
  color: cadetblue;
  font-family: cursive;
}

h3 {color: purple;
}
q {color: blue}
p{font-weight: 100;
font-family: sans-serif;
font-style: oblique;
width: 600px;
background-color: antiquewhite;
padding: 15px;}
body{background-image:url(file:///C:/Users/emanu/Downloads/blue-pink-halftone-background_53876-99004.webp);}
a:link {
  color: black;
background-color: white;
padding: 5px;
line-height: 40px;
border:1px solid #000000;
}
a:hover{
  background-color: darkgray;
}
